# Supabase
SUPABASE_URL=https://zhdcpiopihqwcmicjpca.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpoZGNwaW9waWhxd2NtaWNqcGNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY2NzA5OTcsImV4cCI6MjA4MjI0Njk5N30.0cY0mfJbRMmMuPnAH4kkxlZzlhgT0gt-RFl3ky40vfw

# AI Services
HUGGING_FACE_TOKEN=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
GROQ_API_KEY=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

# News
ALPHA_VANTAGE_API_KEY=3MRU5RUY7R7ZJ3Q5
